/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/app/build
/vendor/
/bin/
/composer.phar

!/bin/dbreload.cmd
!/bin/init.cmd
/app/data/*db3
nbproject/*
*~
